$layout-colors: (
    background: rgba(color(backgroundColor), 0.35),
    background-light: rgba(color(backgroundColor), 0.25),
    background-dark: rgba(color(backgroundColor), 0.6),
    background-very-dark: rgba(color(backgroundColor), 0.9),
    background-secondary: rgba(color(secondary), 0.35),
    background-secondary-light: rgba(color(secondary), 0.25),
    background-secondary-dark: rgba(color(secondary), 0.6),
    background-secondary-very-dark: rgba(color(secondary), 0.9),
);

$colors: map-merge(($colors), $layout-colors);

@function textColor($color) {
    @if (lightness($color) > 50) {
        @return color(primary); // Lighter backgorund, return
    } @else {
        @return color(white); // Darker background, return
    }
}

a {
    color: color(accent);
}

body.app {
    overflow-x: hidden;
    font-family: Nunito, sans-serif;
    background-color: color(theme);
    color: textColor(color(theme));
    .no-padding {
        padding: 0 !important;
    }
    #clock {
        font-size: 20px;
        opacity: 0.6;
        cursor: default;
    }
    .menu-delete {
        margin-top: 5px;
    }
    .close {
        color: textColor(color(theme));
    }
    &.sidebar-mini.sidenav-toggled {
        .app-sidebar {
            width: 52px;
            .app-menu__label {
                left: 55px;
            }
            @media (max-width: 767px) {
                width: 0;
            }
        }
        .app-content {
            margin: 90px 40px 40px 80px;
            @media (max-width: 767px) {
                margin: 70px 0 20px 0;
            }
        }
    }
    .app-header {
        background-color: color(background-dark);
        height: 51px;
        .app-nav {
            border-bottom: none;
        }
        .app-sidebar__toggle {
            order: -1;
            color: color(white);
            border-bottom: none;
        }
        .app-nav__item {
            color: textColor(color(primary));
        }
        .app-header__logo {
            width: 200px;
            border-bottom: none;
            background-color: transparent;
            .logo-big {
                display: flex !important;
                width: 100% !important;
            }
        }
    }
    .app-sidebar {
        width: 230px;
        padding-top: 20px;
        background-color: color(background-very-dark);
        @media (max-width: 767px) {
            left: 0;
        }
        .app-menu {
            a {
                color: textColor(color(primary));
            }
            .header {
                padding: 12px 10px;
            }
        }
        .app-menu__item.active {
            background-color: lighten(color(background-dark), 20);
        }
    }
    .app-content {
        margin: 90px 40px 40px 270px;
        background-color: color(background-light);
        box-shadow: 0px 0px 2px 1px color(background-light);
        @media (max-width: 767px) {
            margin: 70px 0 20px 0;
        }
        .app-title {
            background-color: color(background);
            border: none;
        }
    }
    .form-group {
        label {
            padding-left: 10px;
            color: textColor(color(theme));
            &:before {
                content: " ";
                width: 10px;
                height: 4px;
                background-color: color(accent);
                display: block;
                position: relative;
                left: -15px;
                top: 12px;
                transform: rotate(90deg);
            }
            &.no-before {
                &:before {
                    content: none;
                }
            }
        }
        .form-control {
            background-color: rgba(textColor(color(theme)), 0.05);
            border-radius: 0;
            border: 1px solid rgba(textColor(color(theme)), 0.3);
            color: darken(textColor(color(theme)), 20);
            &::placeholder {
                color: rgba(textColor(color(theme)), 0.2);
            }
            .select2-container--default {
                .select2-selection--single {
                    border: none;
                    background-color: transparent;
                }
                .select2-selection--multiple {
                    border: none;
                    background-color: transparent;
                }
            }
        }
        .input-group-text {
            background-color: rgba(textColor(color(theme)), 0.05);
            border-radius: 0;
            border: 1px solid rgba(textColor(color(theme)), 0.3);
        }
        .form-input-group {
            padding: 10px;
            border: 1px solid rgba(textColor(color(theme)), 0.3);
        }
    }
    .nav-tabs {
        border-bottom: 2px solid color(background);
        .nav-item {
            margin-bottom: 0;
        }
        .nav-link {
            color: textColor(color(theme));
            &:hover {
                color: textColor(color(theme));
                background-color: color(background-light);
                border-color: transparent;
            }
            &.active {
                color: textColor(color(theme));
                background-color: color(background);
                border-color: transparent;
            }
        }
    }
    .select2-container--default {
        .select2-results__option[aria-selected=true] {
            background-color: color(secondary);
        }
        .select2-results__option--highlighted[aria-selected], .select2-results__option--highlighted {
            background-color: color(primary);
        }
        .select2-selection--single {
            background-color: rgba(textColor(color(theme)), 0.05);
            border-radius: 0;
            border: 1px solid rgba(textColor(color(theme)), 0.3);
            color: darken(textColor(color(theme)), 20);
            .select2-selection__rendered {
                color: textColor(color(theme));
            }
            .select2-selection__arrow {
                b {
                    border-color: color(white) transparent transparent transparent;
                }
            }
        }
        .select2-selection--multiple {
            background-color: rgba(textColor(color(theme)), 0.05);
            border-radius: 0;
            border: 1px solid rgba(textColor(color(theme)), 0.3);
            color: darken(textColor(color(theme)), 20);
            .select2-selection__rendered {
                color: textColor(color(theme));
            }
            .select2-selection__arrow {
                b {
                    border-color: color(white) transparent transparent transparent;
                }
            }
        }
    }
    .select2-dropdown {
        background-color: color(theme);
        color: textColor(color(theme));
        .select2-search--dropdown {
            .select2-search__field {
                background-color: transparent;
                border-radius: 0;
                border: 1px solid textColor(color(theme));
            }
        }
    }
    .page-link {
        background-color: color(secondary);
        color: textColor(color(secondary));
        border: 1px solid color(primary);
    }
    .page-item.disabled {
        .page-link {
            background-color: rgba(color(secondary), 0.5);
            color: textColor(color(secondary));
            border-color: rgba(color(primary), 0.5);
        }
    }
    .modal-content {
        background-color: color(theme);
        .modal-header, .modal-footer {
            background-color: color(background-light);
            color: textColor(color(theme));
            border: none;
        }
    }
    .list-group-item {
        background-color: color(background);
        .animated-checkbox {
            margin-bottom: 0;
        }
    }
    .animated-checkbox input[type=checkbox]:checked + .label-text:before {
        color: textColor(color(theme));
    }
    .animated-checkbox {
        label{
            &:before{
                content: "";
            }
        }
    }
    #btn-delete {
        color: color(danger);
        background-color: transparent;
        background-image: none;
        border-color: color(danger);
        &:hover {
            background-color: color(danger);
            color: textColor(color(danger));
        }
    }
    .accordion {
        .card {
            background-color: color(background);
            .card-header {
                background-color: color(background-secondary);
            }
        }
    }
    .pages-list {
        padding-top: 0;
        background-color: color(background);
        border-radius: 0;
        margin-left: -15px;
        margin-top: -30px;
        min-height: calc(100% + 60px);
        .card {
            border-radius: 0;
            .card-body {
                .show-page-edit {
                    border-radius: 0;
                    color: textColor(color(theme));
                    background-color: color(background-secondary);
                    &.active{
                        background-color: color(secondary);
                    }
                }
            }
        }
        .btn {
            margin-left: 0;
            margin-right: 3px;
        }
    }
    .preview {
        .add-new-section {
            border-radius: 0;
            background-color: color(background);
            border: 2px solid color(background-secondary);
            color: textColor(color(theme));
            opacity: 1;
            height: 60px;
            padding: 20px 0;
            &:hover {
                opacity: 1;
                background-color: color(secondary);
                color: textColor(color(secondary));
            }
        }
        .section-preview-header {
            border-radius: 0;
            background-color: color(background-secondary-dark);
            color: textColor(color(theme));
        }
        .section-preview {
            background-color: color(background);
            color: textColor(color(theme));
            border: none;
            border-radius: none;
            .section-column-frame,.section-frame {
                .container-header {
                    background-color: color(background-secondary-dark);
                }
            }
            .add-widget {
                border-radius: 0;
                background-color: transparent;
                border: 2px solid color(background-secondary);
                color: textColor(color(theme));
                opacity: 1;
                &:hover {
                    opacity: 1;
                    background-color: color(secondary);
                    color: textColor(color(secondary));
                }
            }
        }
        .widget-preview {
            border-radius: 0;
            border: none;
            color: textColor(color(theme));
            background-color: color(background-secondary);
        }
    }
    .preview-buttons {
        height: 40px;
        margin-top: 15px;
    }
    &.login-content {
        .card {
            background-color: color(background-dark);
            .card-header {
                background-color: color(background);
            }
            form {
                label {
                    &:before {
                        content: none;
                    }
                }
            }
        }
    }
    .jodit_container {
        background-color: rgba(textColor(color(theme)), 0.05);
        .jodit_workplace {
            border-top: none;
            border-bottom: none;
            border-color: rgba(textColor(color(theme)), 0.3);
        }
    }
    .jodit_toolbar {
        background-color: rgba(textColor(color(theme)), 0.3);
        color: textColor(rgba(textColor(color(theme)), 0.3));
        border: none;
        & > li.jodit_toolbar_btn.jodit_toolbar_btn-separator {
            border-color: textColor(rgba(textColor(color(theme)), 0.3));
        }
    }
    .jodit_statusbar {
        background-color: rgba(textColor(color(theme)), 0.3);
        border: none;
        .jodit_statusbar_item {
            a, span {
                color: textColor(rgba(textColor(color(theme)), 0.3));
            }
        }
    }
    .filemanager-modal {
        .files {
            .file-box, .directory-box {
                background-color: color(background);
                border-color: color(accent);
                span {
                    background-color: color(background-secondary);
                }
            }
        }
    }
    .current-images {
        li {
            span {
                color: textColor(color(theme));
            }
        }
    }
    .delete-content {
        color: textColor(color(white));
    }
    table {
        thead {
            th {
                border-color: color(border);
            }
        }
        td {
            border-color: color(border);
        }
    }
    .menu-text {
        color: textColor(color(theme));
    }
    .custom-menu {
        background: color(background-very-dark);
        color: textColor(color(background-very-dark));
    }
    .front-menu-sortable {
        ul{
            background-color: color(background-secondary-light);
        }
    }
}
