body.app {
    overflow-x: hidden;
    &.sidebar-mini {
        &.sidenav-toggled {
            .app-content {
                margin-left: 90px;
            }
            .app-sidebar {
                .app-menu__item {
                    &:hover {
                        background-color: color(verylight);
                    }
                }
                .app-menu__label {
                    height: 52px;
                    line-height: 3;
                    padding-left: 0;
                    color: color(accent);
                    background-color: color(verylight);
                }
            }
        }
    }
    background-color: color(theme);
    color: color(primary);
    font-weight: 400;
    .app-content {
        background-color: color(white);
        margin: 70px 20px 20px 250px;
    }
    .app-header {
        height: 70px;
        align-items: center;
        display: flex;
        background-color: color(theme);
        .app-header__logo {
            border: none;
            background-color: color(white);
            height: 100%;
            display: flex;
            align-items: center;
        }
        .app-sidebar__toggle {
            display: flex;
            padding: 0 30px;
            align-items: center;
            border: none;
            color: rgba(color(primary), 0.6);
            &:before {
                font-size: 16px;
            }
        }
        .app-nav {
            border: none;
            align-items: center;
        }
        .app-nav__item {
            border: none;
            color: color(secondary);
            &:hover {
                opacity: 1;
                color: color(primary);
            }
        }
        #clock {
            font-size: 20px;
            width: 102px;
        }
        .dropdown-menu{
            box-shadow: 0 3px 12px rgba(color(primary), 0.05);
        }
    }
    .app-sidebar {
        background-color: color(white);
        box-shadow: none;
        .app-menu {
            .header{
                color: color(primary);
            }
            .app-menu__item {
                height: 52px;
                background: none;
                color: color(light);
                transition: all 0s;
                &.active {
                    color: color(accent);
                }
                &:hover {
                    color: color(accent);
                }
                .app-menu__icon {
                    font-size: 20px;
                    margin-right: 5px;
                }
                .app-menu__label {
                    padding-top: 6px;
                }
            }
            hr{
                border-color: color(primary);
            }
        }
    }
    .app-content {
        margin: 70px 25px 25px 255px;
        padding: 1.25rem;
        .app-title {
            margin: -1.25rem -1.25rem 0;
            padding: 0;
            border-bottom: 0;
            align-items: flex-start;
            div {
                width: 50%;
                h1 {
                    color: color(accent);
                    width: 100%;
                    background-color: color(theme);
                    padding-bottom: 30px;
                    font-size: 21px;
                }
                p {
                    font-size: 18px;
                    color: color(secondary);
                    padding: 1.25rem 1.25rem 15px;
                }
            }
            .breadcrumb {
                width: 50%;
                background-color: color(theme);
                height: 55px;
                padding-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                border-radius: 0;
                font-size: 14px;
                font-weight: normal;
                .breadcrumb-item {
                    color: color(secondary);
                    a {
                        color: color(accent);
                    }
                    & + .breadcrumb-item {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        &:before {
                            font-weight: bold;
                            content: "\f054";
                            font-family: "AdminFonts";
                            color: color(light);
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
    .select2-container--default {
        .select2-selection--single {
            border-color: color(verylight) !important;;
        }
        .select2-selection--multiple {
            border-color: color(verylight) !important;
        }
        .select2-dropdown {
            border-color: color(verylight);
        }
        .select2-results__option[aria-selected=true] {
            background-color: color(verylight);
        }
        .select2-results__option--highlighted[aria-selected] {
            background-color: color(accent);
        }
    }
    .menu-edit {
        color: color(primary);
    }
    form {
        .form-control {
            border-color: color(verylight);
            &:focus {
                border-color: color(accent);
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(color(accent), .25);
            }
            &:disabled {
                background-color: color(theme);
            }
            .select2-container--default {
                margin-bottom: -8px;
                .select2-selection--single {
                    border: none;
                    height: 30px;
                    .select2-selection__rendered {
                        line-height: 1.5;
                    }
                    .select2-selection__arrow {
                        height: 15px;
                    }
                }
                .select2-selection--multiple {
                    border: none;
                    height: 30px;
                    .select2-selection__rendered {
                        line-height: 1.5;
                    }
                    .select2-selection__arrow {
                        height: 15px;
                    }
                }
            }
        }
        .input-group {
            .form-control {
                .select2-container--default {
                    margin-bottom: 0;
                    .select2-selection--single {
                        height: 42px;
                        .select2-selection__rendered {
                            line-height: 42px;
                        }
                        .select2-selection__arrow {
                            height: 40px;
                        }
                    }
                    .select2-selection--multiple {
                        height: 42px;
                        .select2-selection__rendered {
                            line-height: 42px;
                        }
                        .select2-selection__arrow {
                            height: 40px;
                        }
                    }
                }
            }
        }
        .input-group-text {
            border-color: color(verylight);
            background-color: color(verylight);
        }
    }
    table.table.dataTable {
        thead{
            th{
                vertical-align: bottom;
                border-bottom: 1px solid color(verylight);
                border-top: 1px solid color(verylight);
                padding: 15px 10px;
                &:first-child{
                    border-left: 1px solid color(verylight);
                }
                &:last-child{
                    border-right: 1px solid color(verylight);
                }
            }
            .sorting:after, .sorting_desc:after, .sorting_asc:after{
                position: absolute;
                right: 0;
                top: 18px;
            }
        }
        tbody{
            td{
                border: 1px solid lighten(color(verylight),1);
                vertical-align: middle;
                padding: 2px 10px;
                &.dataTables_empty{
                    padding: 15px 10px;
                }
            }
            tr{
                &:nth-child(odd){
                    td{
                        background-color: color(verylight);
                    }
                }
            }
        }
    }
    .page-item{
        .page-link{
            padding: 3px 11px;
            line-height: 21px;
        }
        &.active{
            .page-link{
                background-color: color(accent);
                color: color(white);
                border-color: color(accent);
            }
        }
    }
    .pages-list{
        background-color: transparent;
        box-shadow: 0 3px 12px rgba(color(primary), 0.05);
        .card{
            .card-header{
                h5{
                    button{
                        background-color: color(accent);
                        &.collapsed{
                            background-color: color(light);
                        }
                    }
                }
            }
            .card-body{
                .show-page-edit{
                    background-color: color(light);
                    &.active{
                        background-color: color(accent);
                    }
                }
            }
        }
    }
    .preview{
        .section-preview-header{
            background-color: color(verylight);
        }
        .section-preview{
            background-color: transparent;
            border-color: color(verylight);
            border-width: 2px;
        }
        .widget-preview{
            border-color: color(accent);
        }
    }
    .login-content{
        .card-header{
            background-color: color(accent);
        }
    }
    .filemanager-modal {
        .files {
            .directory-box, .file-box{
                border-color: color(verylight);
                background-color: color(verylight);
                span{
                    background-color: color(accent);
                    color: color(white);
                }
            }
        }
    }
    .manager-preview{
        .directory-box, .file-box{
            border-color: color(verylight);
            background-color: color(verylight);
            span{
                background-color: color(accent);
                color: color(white);
            }
        }
    }
}
