@import '../AdminPanel/variables';
@import 'vendor/layout';
@import 'vendor/datatables';
@import 'vendor/buttons';
@import 'vendor/form';
@import 'vendor/accordion';
@import 'vendor/modals';
@import 'vendor/pages';
@import 'vendor/tooltip';
@import 'vendor/loader';
@import 'vendor/frontMenuBuilder';
@import 'vendor/images';
@import 'vendor/filemanager';
@import 'vendor/jodit';
@import 'vendor/galleries';

body {
    .flex-center {
        align-items: center;
    }
    .margin-right-auto {
        margin-right: auto !important;
    }
    .margin-left-auto {
        margin-left: auto !important;
    }
    .icon-preview {
        max-width: 33px;
        max-height: 33px;
    }
    .fixed-parent{
        position: fixed;
        z-index: 10;
        .btn{
            background-color: color(theme);
        }
    }
    .overflow-hidden{
        overflow: hidden !important;
    }
}

.custom-menu {
    display: none;
    width: 150px;
    z-index: 200000;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    background: color(primary);
    color: color(white);
    border-radius: 5px;
    padding: 0;
    li {
        width: 100%;
        padding: 8px 12px;
        cursor: pointer;
        list-style-type: none;
        transition: all .3s ease;
        user-select: none;
        border-bottom: 1px solid color(border);
        &:last-child{
            border-bottom: none;
        }
        i{
            margin-right: 5px;
            border-right: 1px solid color(border);
            padding-right: 5px;
        }
        &:hover {
            background-color: color(background-secondary-very-dark);
        }
    }
}
